<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62614003471-efaqmjvnmh7tsm9a002tmg97o18j0fii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62614003471-efaqmjvnmh7tsm9a002tmg97o18j0fii</string>
	<key>API_KEY</key>
	<string>AIzaSyAPf23RJNKQUVTojrQq32XUR5uGzZJuvY4</string>
	<key>GCM_SENDER_ID</key>
	<string>62614003471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GueTeam.FifoClient</string>
	<key>PROJECT_ID</key>
	<string>fifo-cd715</string>
	<key>STORAGE_BUCKET</key>
	<string>fifo-cd715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62614003471:ios:53aada974a42b08bd8a87a</string>
	<key>DATABASE_URL</key>
	<string>https://fifo-cd715.firebaseio.com</string>
</dict>
</plist>